
body{
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

a{
    color: #222222 !important;
    text-decoration: none !important;
}

.navbar{
    height: 5rem;
    background-color: white;
}

.nav-link{
    font-weight: 500 !important;
    color:#222222 !important;
}


/* footer */


.f-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100% !important;
    gap: 10px;
    padding-block: 20px ;
    background-color: #ebebeb;
}

.f-info-socials {
    text-align: center;
    gap: 10px;
    margin-bottom: 5px;
    
}

.f-info-socials i{
    color: #222222;
}

.f-info-company{
    font-size: 20px;
    vertical-align: middle;
}



/* index card */

.page-title{
    margin-top: 20px;
    margin-bottom: 20px;
}

.listing-card{
    border: none !important;
    /* padding: 10px 10px;
    margin-bottom: 2rem;
    margin-right: 10px;
    background-color: white; */
    
}

.card-body{
    margin-top: 10px;
    padding: 0 !important ;
    font-weight: 500 !important;

}



.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

/* click effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    
    opacity: 0.2;
    background-color: white;
}


/* new */

.primary-btn{
    background-color: #1f78cc !important;
    color: white !important;
    border: none !important;
    outline: none !important;
    border-radius: 6px !important;
    padding: 5px 20px;
}

/* show */

.show-img{
    width: 100%;
    height: 450px;
    border-radius: 30px !important;
    margin-block: 20px;
    margin-inline: auto !important;
}

.action-btns{
    display: flex;
    gap: 10px;
}

.show-card-details{
    max-width: 500px;
    gap: 5px;
}

.show-card-details p{
    color: #000000;
}

.show-card-price{
    font-weight: 600 !important;
}

.title{
    font-size: 22px;
    font-weight: 500;
}

.sec-btn{
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 5px 20px;
    background-color: #b1b1b1;
}